---
import Header from "../Header.astro";
import {FooterComponent} from "../../react-app/Components/FooterComponent";
import {HomePage} from "../../react-app/Home/homePort";
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Peter Erbeni</title>
</head>
<body >
<Header client:load/>
<main class="mr-[3%] ml-[3%] md:mr-[12%] md:ml-[12%]">
    <slot /> <!--slots in other comps-->
</main>

<FooterComponent client:load/>
</body>
</html>