
---
import {Image} from 'astro:assets';
import pfp from "../assets/portfoliophoto.jpg"

interface Props {
    divclassName: string,
    source: string,
    alt: string,
}

const {divclassName="", source, alt} = Astro.props;
---

<div class={divclassName} style="overflow: hidden;">
    <Image class="object-fill object-center" src={source} alt={alt} loading="eager"/>
</div>