---
import {HeaderComponent} from "../react-app/Components/HeaderComponent";
import {FooterComponent} from "../react-app/Components/FooterComponent";
import {HomePage} from "../react-app/Home/homePort";
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Peter Erbeni</title>
</head>
<body class="mr-[2%] ml-[2%] md:mr-[15%] md:ml-[15%]">
<HeaderComponent client:load/>
<main>
    <slot /> <!--slots in other comps-->
</main>

<FooterComponent client:load/>
</body>
</html>