---
import "../styles/global.css"


interface Props{
    subTitleName:string,
    className:string,
}

const {subTitleName, className} = Astro.props

---

<div>
    <h2 class={`font-bold subTitle ${className}`}>{subTitleName}</h2>
</div>
