---
import "../styles/global.css"


interface Props{
    subTitleName:string,
    className:string,
    divClassName:string,
}

const {subTitleName, divClassName = "", className} = Astro.props

---

<div class={`${divClassName}`}>
    <h2 class={`font-bold subTitle ${className}`}>{subTitleName}</h2>
</div>
