---
import "../styles/global.css"

interface Props{
    tagName:string
    className:string
    textClass:string
}

const {tagName, className, textClass=""} = Astro.props;
---

<div class={`rounded-4xl border-3 ${className}`}>
    <p class=`font-bold text-center p-2 ${textClass}`>{tagName}</p>
</div>