---
import '../styles/global.css'

interface Props{
    className: string,
    title: string,
    headingType: number,
}

const {className, title, headingType = 1} = Astro.props;



---

<h1 class={className}>{title}</h1>